name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: 43.205.207.115
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd /home/ubuntu

            if [ ! -d "app" ]; then
              git clone https://github.com/${{ github.repository }}.git app
            fi

            cd app
            git pull origin main

            docker stop app || true
            docker rm app || true
            docker rmi app || true

            docker build -t app .
            docker run -d -p 80:3000 --name app app
