name: Deploy to EC2

on:
  push:
    branches:
      - "**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t app .

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: 13.0.0.1
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop app || true
            docker rm app || true
            docker build -t app .
            docker run -d -p 80:3000 --name app app
